<ul class="flex space-x-4">
    <li><a href="{% url 'supplier-list' %}" class="text-blue-600 hover:underline">Suppliers</a></li>
    <li><a href="{% url 'customer-list' %}" class="text-blue-600 hover:underline">Customers</a></li>
    <li><a href="{% url 'product-list' %}" class="text-blue-600 hover:underline">Products</a></li>
    <li><a href="{% url 'category-list' %}" class="text-blue-600 hover:underline">Categories</a></li>
    <li><a href="{% url 'incomingorder-list' %}" class="text-blue-600 hover:underline">Incoming Orders</a></li>
    <li><a href="{% url 'outgoingorder-list' %}" class="text-blue-600 hover:underline">Outgoing Orders</a></li>
</ul>