# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo

# Env
.env
.venv/
venv/
ENV/
env/
*.env

# Django static files
staticfiles/
static/
media/

# VSCode
.vscode/

# MacOS
.DS_Store

# Heroku
*.sqlite3

# Migrations (optional if you don't want to version them)
# **/migrations/
# !**/migrations/__init__.py
